/*BOX MODEL 

Modelo de caixa
toda caixa tem
largura, altura, espaçamento, preechimento, bordas, cor, fundo, posicionamento, alinhamento,
display(maneiro que é vista pelo html)

*/


:root {/* :root = referencia a raiz do meu arquivo css*/
    --tittle-color: #322153;
    --primary-color: #34cb79;
    --bg-color: #d4d0d0;
}

* { /* *referencia todos os seletores*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--bg-color);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--tittle-color);
    font-family: 'Ubuntu', sans-serif;
}

